@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(125, 211, 252);
  --dark: rgb(8 47 73);
  --text: rgb(8 47 73);
  --light: rgb(186, 230, 253);
}

* {
  color: var(--text);
}
